[mirror_elastic_search]
hosts               = "http://localhost:9200"
index               = "test_index"

[sql]
user                = "root"
host                = "localhost"
password            = ""
database            = "link_ht"